.layout-styled{
    position: absolute;
    left: 0px;
    background: var(--background-color);
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    min-height: 100vh;
    width: 100%;
}
